html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*,
a {
	color: $white;
}

a {
    text-decoration: none;
}

body {
	font-family: $body-font-family;
	line-height: 1.3;
	font-size: calc(1rem + 0.3vw);
	margin: 0px;
	padding: 0px;
	background-color: $darkBlueIntro;
	color: $white;
}
