html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
    font-family: $font-body;
    line-height: 1.3;
    font-size: calc(1rem + 0.3vw);
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    color: #ffffff;
}
// font-family: